*:not(.layerbutton):not(.prefabbutton):not(input)::selection {
    background-color: Transparent;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

    *:not(a) {
        cursor: default;
    }

a {
    color: #ccc;
}

input[type="number"] {
    cursor: text;
}

select {
    text-align-last: center;
}


html {
    width: 100%; /* just to be sure these are full screen*/
    height: 100%; /* just to be sure these are full screen*/
}

body {
    width: 100%; /* just to be sure these are full screen*/
    height: 100%; /* just to be sure these are full screen*/
    background-color: #252526;
    color: #ccc;
    overflow: hidden;
}

#canvasContainer {
    width: auto;
    height: auto;
    background-color: red;
}

canvas {
    display: block; /* To remove the scrollbars */
    position: absolute;
    margin: 0;
    padding: 0;
}

    canvas:hover {
        cursor: crosshair;
    }

p {
    font-size: 14pt;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

button, select {
    width: 90%;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    background-color: #414141;
    color: #a4a4a4;
    border: 1px solid #393939;
}

div {
    /*border: 1px black solid; /**/
}

.toolarea {
    overflow: auto;
    position: absolute;
    height: 92%;
    background-color: #303030;
}

    .toolarea::-webkit-scrollbar {
        display: none;
    }

#leftarea {
    position: absolute;
    left: 0;
    width: 220px;
}

#prefabarea {
    position: absolute;
    left: 220px;
    width: 250px;
    border-left:1px solid black;
}

#sceneView {
    left: 520px;
}


#renderPreview {
    position: absolute;
    right: 275px;
    bottom: 55px;
    pointer-events: none;
    border: 2px solid lightblue;
}

#rightarea {
    position: absolute;
    right: 0;
    width: 260px;
}

.toolcategory p {
    margin-bottom: 5px;
}

.toolcategory button, .toolcategory select {
    background: linear-gradient(#414141, #313131);
    border-radius: 2px;
}

    .toolcategory button.pressed {
        background: linear-gradient(#161616, #333333);
    }

    .toolcategory select option {
        color: black;
    }

    .toolcategory button:active {
        background: linear-gradient(#262626, #414141);
    }

#menubar {
    width: 100%;
    height: 36px;
    height: 42px;
    background: linear-gradient(#222, #252526);
}

.menuentry {
    /*width: 50px;*/
    float: left;
    text-align: center;
    padding: 8px;
    /** /
    padding-left: 20px;
    padding-right: 20px;
    /*/
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 11px;
    margin-right: 11px;
    /* */
    font-family: 'Roboto', sans-serif;
    color: rgb(222, 222, 222);
    border-bottom: grey 1px solid;
}

    .menuentry:hover {
        background: linear-gradient(#252526, #111);
        cursor: pointer;
    }

#menubar table {
    width: 100%;
}

#menubar .floatLeft {
    float: left;
}

#menubar .floatRight {
    float: right;
}

#menubar .floatCenter {
    text-align: center;
}

    #menubar .floatCenter #logoFont {
    }

        #menubar .floatCenter #logoFont img {
            height: 30px;
        }

#statusbar {
    position: absolute;
    height: 40px;
    background-color: #292929;
    width: 100%;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;
    /*
    background-color: rgb(90, 90, 90);
    color: rgb(222, 222, 222);
    */
    background: linear-gradient(#252526, #111);
}

.statusbarentry {
    position: absolute;
    padding-top: 10px;
}

#statusbarentryleft {
    left: 0px;
    text-align: left;
    padding-left: 10px;
}

#statusbarentryright {
    right: 0px;
    text-align: right;
    padding-right: 10px;
}

#stats {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: auto;
    right: 275px;
    border-radius: 10px;
    pointer-events: none;
}

    #stats table {
        width: 100%;
    }

.toolcategory table {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border-collapse: collapse;
}

    .toolcategory table#prefabs td {
        padding-bottom: 5px;
    }

    .toolcategory table#layers button {
        margin: 0px;
        width: 100%;
        border-radius: 0;
    }

    .toolcategory table#prefabs button {
        margin: 0px;
        width: 100%;
        border-radius: 0;
    }

#selectedButton {
    background: linear-gradient(#111111, #555555);
}

table#layers table#prefabs {
    border-collapse: collapse;
}

table #selectedLayer {
    border: 1px lightblue solid;
}

table #selectedPrefab {
    border: 1px lightblue solid;
}

#gridSettings {
    margin-top: 15px;
}

    #gridSettings table {
        border-spacing: 3px;
        border: 0px;
    }

        #gridSettings table input {
            width: 100%;
            color: black;
        }


table#lineSettings {
    border-collapse: collapse;
}

    table#lineSettings input {
        width: 100%;
        color: black;
        margin-top: 5px;
    }

table#renderSettings {
    border-collapse: collapse;
}

    table#renderSettings input {
        width: 100%;
        color: black;
    }

#help {
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgba(0,0,0,0.5);
    margin: 5% 15% 15% 15%;
}

    #help td {
        font-size: 19pt;
    }

#toolbar {
    z-index: 11;
    position: absolute;
    background: linear-gradient(#494949, #292929);
}

.toolbutton {
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    background: linear-gradient(rgb(120, 120, 120), #414141);
}

    .toolbutton#selected {
        background: linear-gradient(#414141, rgb(120, 120, 120));
    }

#renderSettings {
    margin-top: 10px;
}

#renderResolution {
    color: grey;
    text-align: right;
    padding-top: 8px;
}

#logo {
    margin-top: 15px;
    width: 100%;
}

    #logo img {
        cursor: pointer;
        width: 50%;
        display: block;
        margin: 0 auto;
    }


.toolcategorycontainer {
    margin-bottom: 5px;
}

.toolcategorycontainerlist {
    margin-top: 15px;
    margin-bottom: 5px;
}

#prefabsDiv {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 6px;
    padding-bottom: 1px;
}

.toolcategory {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px #111 solid;
    background-color: rgba(0, 0, 0, 0.3);
}

    .toolcategory.beta {
        border-color: rgb(127, 100, 0);
        background-color: rgba(127, 127, 0, 0.3);
    }
    .toolcategory.beta p::after {
        content: " (Beta)";
    }

    .toolcategory.dev {
        border-color: #7c0000;
        background-color: rgba(127, 0, 0, 0.3);
    }
    .toolcategory.dev p::after {
        content: " (Dev)";
    }


.foldingHeader {
    cursor: pointer;
}

#description {
    margin-top: 5px;
    font-size: 14pt;
    font-family: 'Oswald', sans-serif;
}



















.view {
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 1px solid grey;
}

#prefabEditor {
    height: 35%;
}

    #prefabEditor canvas {
        position:relative;
        top:0px;
        left:0px;
    }

#sceneView canvas {
    position: absolute;
}

#prefabList {
    overflow-y: auto;
    height: 65%;
}

    #prefabList::-webkit-scrollbar {
        display: none;
    }


.fadeOut {
    animation-name: fadeout;
    animation-duration: 2s;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

#quicktip{
    position:absolute;
    left:32%;
    top:35%;
    width: 36%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}
    #quicktip table {
        width: 100%;
        height: 100%;
        padding: 10px 5px 15px 5px;
    }

    #quicktipHeader{
        padding-top: 15px;
        padding-left: 15px;
        font-size: 14pt;
        font-family: 'Oswald', sans-serif;
    }

    #quicktip table #quicktipContainer {
        padding-left: 10px;
        padding-bottom: 10px;
        vertical-align: top;
        text-align:left;
        font-size: 12pt;
    }

    #quicktip table input {
        width: 90%;
        padding: 5px 3px 5px 3px;
    }
    
    #quicktip table td {
        vertical-align: central;
        text-align:center;
    }

